<div *ngIf="character$ | async as person" class="character-details-container">
  <h1 class="title">{{ person.name }}</h1>
  <div class="detail-item">
    <h4>Birth date: {{ person.birth_year }}</h4>
  </div>
  <div class="detail-item">
    <h4>Gender: {{ person.gender }}</h4>
  </div>
  <div class="detail-item">
    <h4>Hair color: {{ person.hair_color }}</h4>
  </div>
  <div class="detail-item">
    <h4>Eye color: {{ person.eye_color }}</h4>
  </div>
  <h4 class="detail-item">Home world:</h4>
  <div *ngIf="homeworld$ | async as planet">
    <h3>
      {{ planet.name }}
    </h3>
    <h4>{{ planet.population }}</h4>
    <h4>{{ planet.climate }}</h4>
    <h4>{{ planet.gravity }}</h4>
  </div>
  <div *ngIf="relatedFilms" class="characters-container">
    <div *ngFor="let film of relatedFilms">
      <a class="link" routerLink="/films/{{ film.url.split('/')[5] }}">
        <div class="character-button">
          <div class="text-placing">
            <h5>{{ film.title }}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
<loading-spinner *ngIf="(character$ | async) == null"></loading-spinner>
