<div class="title-container">
  <h1 class="title">Movies</h1>
  <h3>Filter by episode or release date!</h3>
  <select
    class="option-selection-input"
    #optionSelection
    [(ngModel)]="optionSelected"
    (change)="
      onOptionsSelected(optionSelection.value, releaseOptionSelection.value)
    "
  >
    <option value="0">Episode</option>
    <option value="1">Release date</option>
  </select>
  <select
    class="order-selection-input"
    #releaseOptionSelection
    [(ngModel)]="releaseOptionSelected"
    (change)="
      onOptionsSelected(optionSelection.value, releaseOptionSelection.value)
    "
  >
    <option value="0">Ascendant</option>
    <option value="1">Descendant</option>
  </select>
</div>
<div class="movies-container">
  <ng-container
    *ngFor="let movie of movies$ | async"
  >
    <div class="movie-container">
      <movie [movie]="movie"></movie>
    </div>
  </ng-container>
	<loading-spinner *ngIf="(movies$ | async) == null"></loading-spinner>
</div>
