.movies-container {
	padding-top: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 2rem;
}
.title{
	font-size: 2rem;
}

.movie-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.option-selection-input {
	height: 2rem;
	width: 8rem;
	text-align: center;
	margin: 1rem 0rem 0rem;
	border: yellow solid 1px;
}

.order-selection-input {
	height: 2rem;
	width: 8rem;
	text-align: center;
	margin: 1rem 1rem 0rem;
	border: yellow solid 1px;
}
