<div class="movies-container">
  <h1 class="title">Movies</h1>
  <select
    class="select-input"
    #optionSelection
    [(ngModel)]="optionSelected"
    (change)="onOptionsSelected(optionSelection.value, orderSelection.value)"
  >
	<option value="0">Release date</option>
	<option value="1">Episode Id</option>
  </select>
  <select
    class="select-input"
    #orderSelection
    [(ngModel)]="ascOrDesc"
    (change)="onOptionsSelected(optionSelection.value ,orderSelection.value)"
  >
	<option value='0'>Ascendant</option>
		<option value='1'>Descendant</option>
  </select>
  <p>{{ optionSelected }}</p>
  <ng-container *ngFor="let movie of movies$ | async">
    <div class="movie-container">
      <movie [movie]="movie"></movie>
    </div>
  </ng-container>
</div>
