.movies-container {
	padding-top: 2rem;
	padding-left: 1rem;
	padding-bottom: 2rem;
}
.title{
	font-size: 2rem;
}

.movie-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-right: 1rem;
}
