<div *ngIf="movie$ | async as film" class="movie-details-container">
  <h1 class="title">{{ film.title }}</h1>
  <div class="detail-item">
    <h4>Release date: {{ film.release_date }}</h4>
  </div>
  <div class="detail-item">
    <h4>Episode: {{ film.episode_id }}</h4>
  </div>
  <div class="detail-item">
    <h4>Director: {{ film.director }}</h4>
  </div>
  <div class="detail-item">
    <h4>Producer: {{ film.producer }}</h4>
  </div>
  <h4 class="detail-item">Opening crawl:</h4>
  <p>{{ film.opening_crawl }}</p>

  <h4 class="detail-item">Characters:</h4>
  <div *ngIf="characters" class="characters-container">
    <div *ngFor="let character of characters">
      <a class="link" routerLink="/people/{{ character.url.split('/')[5] }}">
        <div class="character-button">
          <div class="text-placing">
            <h5>{{ character.name }}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<loading-spinner *ngIf="(movie$ | async) == null"></loading-spinner>
